<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowNetworkAccess</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Adobe Edge Animation - TAG-HTML5-Banner</string>
	<key>CFBundleIdentifier</key>
	<string>com.adobe.edge.widget.TAG-HTML5-Banner</string>
	<key>CFBundleName</key>
	<string>TAG-HTML5-Banner</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>Height</key>
	<string>600</string>
	<key>MainHTML</key>
	<string>TAG-HTML5-Banner.html</string>
	<key>Width</key>
	<string>300</string>
</dict>
</plist>
